@keyframes bounce {
  20% { transform: translateY(10px); }
  50% { transform: translateY(-10px); }
  60% { transform: translateY(5px); }
  90% { transform: translateY(-5px); }
}

#boxes {
  position: relative;
  text-align: left;
}

#boxes .boxLandmark {
  position: relative;
  width: 100%;
  max-width: 1104px;
  margin: auto;
}

#boxes .box {
  overflow: hidden;
}

#boxes .box h2,
#boxes .box h3,
#boxes .box p,
#boxes .box ul,
#boxes .box ol {
  margin-top: 0;
}

#boxes .box h2:first-child,
#boxes .box h3:first-child {
  margin-top: -5px !important;
}

#boxes .box p:first-child,
#boxes .box ul:first-child,
#boxes .box ol:first-child {
  margin-top: -2px !important;
}

#boxes .box[data-type="button"] .buttonDIYContainer {
  text-align: center;
  height: 100%;
}

#boxes .box[data-type="button"] .buttonDIYContainer .buttonDIYWrapper {
  border-radius: 20px;
  display: inline-block;
  background: #316bf2;
  height: 100%;
}

#boxes .box[data-type="button"] .buttonDIYContainer .buttonDIYWrapper .buttonDIY {
  border-radius: 20px;
  display: table;
  height: 102%;
  text-decoration: none;
}

#boxes .box[data-type="button"] .buttonDIYContainer .buttonDIYWrapper .buttonDIY .buttonDIYText {
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

#boxes .box[data-type="button"] .buttonDIYWrapper {
  text-align: center;
  height: 100%;
}

#boxes .box[data-type="horizontalSeparator"] .separatorWrapper,
#boxes .box[data-type="verticalSeparator"] .separatorWrapper {
  width: 100%;
  height: 100%;
}

#boxes .box[data-type="horizontalSeparator"] .separatorWrapper > div,
#boxes .box[data-type="verticalSeparator"] .separatorWrapper > div {
  text-align: center;
  width: 100%;
  height: 100%;
}

#boxes .box[data-type="horizontalSeparator"] .separatorWrapper {
  display: table;
}

#boxes .box[data-type="horizontalSeparator"] .separatorWrapper > div {
  display: table-cell;
  vertical-align: middle;
}

#boxes .box[data-type="horizontalSeparator"] .separatorWrapper > div .separator {
  width: 100%;
}

#boxes .box[data-type="verticalSeparator"] .separatorWrapper .separator {
  height: 100%;
  display: inline-block;
}

#boxes .box .boxBackgroundOverlay,
#boxes .box .boxBackgroundPicture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#boxes .box .boxBackgroundPicture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#boxes .box .boxBackgroundOverlay {
  opacity: .3;
}

@media (max-width: 970px) {
  #boxes .box {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    width: 100% !important;
  }

  #boxes .box[data-type="button"] {
    height: 100%;
    padding: 5px;
  }

  #boxes .box[data-type="background"],
  #boxes .box[data-type="background"] > div,
  #boxes .box[data-type="group"],
  #boxes .box[data-type="group"] > div,
  #boxes .box[data-type="text"],
  #boxes .box[data-type="text"] > div {
    height: auto !important;
  }

  #boxes .box[data-type="picture"] {
    text-align: center !important;
    font-size: 0 !important;
  }

  #boxes .box[data-type="facebookLike"],
  #boxes .box[data-type="twitterTimeline"] {
    text-align: center;
  }

  #boxes .box[data-type="verticalSeparator"] {
    display: none;
  }

  #boxes .tableWrapper {
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
}
